/* ------------------------ */
/* Basic Setup */
/* ------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #261802;
    background-color: #fff;
}

.row {
    margin: 0 auto;
    width: 98%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* ------------------------ */
/* Reusable Components */
/* ------------------------ */
h1, h2, h3, h4 {
    font-weight: normal;
}
h1 {
    font-size: 240%;
}
h2 {
    margin-top: 15px;
    font-size: 200%;
}
h3 {
    margin-top: 10px;
    font-size: 160%;
}
h4 {
    margin-top: 5px;
    font-size: 120%;
}

ul {
    list-style: none;
}

.notes ul li {
    margin-left: 30px;
    padding-top: 5px;
}

code {
    font-size: 95%;
    display: block;
}

a { text-decoration: none; }





/* ------------------------ */
/* Header */
/* ------------------------ */
header {
    border: 1px solid #362203;
    background-color: #f5b042;
    color: #362203;
}

nav {
    height: 48px;
}

nav ul {
    margin-top: 10px;
    padding: 10px 0;
    background: #f5b042;
}

nav ul li {
    padding: 0 10px;
    display: inline-block;
}

nav ul li:first-child { padding-left: 2px; }

nav ul li a:link,
nav ul li a:visited {
    border: 1px solid #160e01;
    padding: 5px 15px;
    color: #160e01;
    background: #fefbf4;
}




/* ------------------------ */
/* Section */
/* ------------------------ */





/* ------------------------ */
/* Notes */
/* ------------------------ */
.notes {
    margin: 5px 0;
    border: 1px solid #160e01;
    border-radius: 3px;
    padding: 7px;
    background-color: #fefbf4;
}

.testspan {
    /* border: 1px solid black; */
    padding: 20px;
    background: orange;
    display: inline-block;
}




/* ------------------------ */
/* Code */
/* ------------------------ */
code.area {
    padding: 5px 15px;
    background: #3c3c3c;
    color: #ddd;
    display: inline-block;
}

code.line {
    margin: 5px 0;
}

code.line * {
    font-size: 100%;
}

code.block {
    display: inline-block;
}

code.inline {
    margin: 0 5px;
    display: inline-block;
}


/* ----- HTML ----- */
.html { display: inline-block; }

.html .inline {
    padding: 12px 9px;
    border: 1px solid #0c341d;
    border-radius: 2px;
    background: #9ae8bb;
    word-spacing: -3px;
    letter-spacing: -3px;
}

.html .inline span {
    word-spacing: normal;
    letter-spacing: normal;
}

.html .inline .attribute {
    margin-left: 5px;
    margin-right: -5px;
}

.html .inline .highlight {
    margin: 0 2px;
    border: 1px solid #302803;
    border-radius: 2px;
    padding: 4px 6px;
    font-weight: 600;
    color: #302803;
    background: #f8e48f;
}

/* https://stackoverflow.com/questions/10207992/the-gap-between-two-inline-block-span-element */


/* ----- CSS ----- */
.css { display: inline-block; }

.css.labelled {
    margin: 10px;
    border: 1px solid #0d3047;
}

.css .inline {
    padding: 7px 12px;
    border: 1px solid #0d3048;
    border-radius: 2px;
    background: #b6daf2;
    word-spacing: -3px;
    letter-spacing: -3px;
    display: inline-block;
}

.css .inline span {
    word-spacing: normal;
    letter-spacing: normal;
    display: inline-block;
}

.css .inline .property {
    font-weight: bold;
}

.css .inline .value {
    margin-left: 8px;
}

.css .inline .highlight {
    margin-right: 3px;
    border: 1px solid #302803;
    border-radius: 2px;
    padding: 4px 6px;
    color: #302803;
    font-weight: 600;
    background: #f8e48f;
}

.css .area { color: #909090; }
.css .area .property { color: #ddd; }
.css .area .selector { color: #eda25f; }
.css .area .value { color: #dbd955; }

.css .label {
    padding: 3px 10px;
    color: #081c2a;
    font-size: 90%;
    text-align: right;
    background: #8ac5ea;
}


/* ----- JS ----- */
.js { display: inline-block; }

.js.labelled {
    margin: 10px;
    border: 1px solid #312803;
}

.js .label {
    padding: 3px 10px;
    color: #312803;
    font-size: 90%;
    text-align: right;
    background: #f6d85f;
}


/* ----- Generic ----- */
.generic { display: inline-block; }

.generic .inline {
    padding: 7px 12px;
    border: 1px solid #0d3048;
    border-radius: 2px;
    background: #e2e4e6;
    display: inline-block;
}